/* ==========================================================================
   Bui Viet Son
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

span.glyphicon.glyphicon-chevron-right {
    position: absolute;
    right: 150px;
}

span.glyphicon.glyphicon-chevron-left {
    position: absolute;
    left: 170px;
}

.carousel-inner {
    width: 80%;
    margin: 0 auto;
}

a.right.carousel-control, a.left.carousel-control {
    background: none;
}

footer {
    background: #888;
}

.carousel-inner {
}

.item img {
    margin: 0 auto;
    min-height: 600px;
}

section.wrap-carousel.container {
    padding-bottom: 20px;
}

a.navbar-brand {
    color: #e2d9d9cf!important;
}

.nav li a {
    color: #e2d9d9cf!important;
}

.nav li:hover a {
    color: #fff !important;
}

nav.navbar.navbar-default {
    background: #722872;
    border: none;
    border-radius: 0;
}

.footer-above {
    display: flex;
    justify-content: space-around;
    min-height: 150px;
    align-items: center;
    color: #eee;
}

.copyright {
    text-align: center;
    color: #fff;
    min-height: 60px;
    line-height: 60px;
    background: #722872;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}