#container{
	margin: 0px;
	max-width: 100%;
	height: auto;
	background-color: #888;
	font-family: ;
	font-size: 22px;
}

#container .container{
	max-width: 1300px;
	height: auto;
	margin: 0px auto;
}

header{
	margin: 0px;
	max-width: 100%;
	height: 90px;
	background-color: #722872;	
	border: 1px solid;	
	box-shadow: 2px 2px 5px grey;
	position: relative;
	display: flex;

}

header ul{
	list-style: none;
	width: 30%;
	position: absolute;
	right: 10%;
	top: auto;
	bottom: auto;
	margin: 20px 0px;
}

header ul li{
	display: inline;
	margin: 10px;
	font-size: 30px;
	color: white;
}

header ul li a{
	font-size: 30px;
	color: white;
}

header ul li a:hover{
	text-decoration: none;
	background-color: #FFF;
}

.content{
	width: 90%;
	margin: 0px auto;
	background: #aaa;
}

.about{
	border:1px solid grey;
	border-bottom: 0px solid;	
	box-shadow: 2px 2px 5px grey;
	border-top: 0px;
}

.about-wrap{
	padding-top: 50px;
	padding-bottom: 50px;
	display: flex;
}

.about .about-wrap .about-inf{
	width: 67%;
}

.about .about-wrap .about-inf p{
	text-align: right;
	color: white;
}

.about .about-wrap .about-inf hr{
	border-top: 5px solid;
	border-color: #FFF;
	width: 80%;
	margin: 40px 0px;
	position:  relative;
	left:19%;
	
	
}

.about .about-wrap .about-img{
	width: 33%;
	padding: 0px 0px 0px 20px;
	display: block;
}

.about .about-img img {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	max-width: 80%;
	display: block;
	margin: 0 auto;
}

.infor{
	background: #eee;
	margin-top:  0px;
	border: 1px solid grey;
	border-bottom: 1px solid grey;
	box-shadow: 2px 2px 8px grey;
}

.infor dl{
	margin: 20px 20px 20px 40px;
}

.infor dl dd{
	margin: 10px 10px 10px 60px;
}

.contact{
	background: #eee;
	border: 1px solid grey;
	
	box-shadow: 2px 2px 8px grey;
}

.contact .contact-wrap{
	display: flex;
}

.contact .input{
	width: 50%;
}

.contact .input .form-items{
	margin: 20px 20px 20px 40px;
}

.contact .input .form-items input[type=text]{
	height: 80px;
	width: 90%;
	border: none;
	border-bottom: 1px solid;
	background: #eee;
	padding-bottom: 0px;
}

.contact .input button{
	margin: 20px 20px 20px 40px;
	font-size: 20px;
}

.contact .note{
	width: 50%;
	margin: 20px;
}


footer .footer-above{
	background-color: #aaa;
	display: flex;
	
}

footer .footer-above .above-left{
	width: 30%;
    text-align: center;
    color: white;
}

footer .footer-above .above-right{
	width: 30%;
    position: relative;
    left: 40%;
    color: white;
    text-align: center;
}

footer .footer-above .above-right ul{
	list-style: none;
	padding-left: 0px;
}

footer .footer-above .above-right ul li{
	display: inline;
	
}

footer .footer-above .above-right ul li a{
}

footer .footer-below{
	background-color: #722872;
	height:  auto;
	text-align: center;
	padding: 30px 0px;
	color: #fff;
}

.button {
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 48px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.button:hover{
	color:#722872;
	background-color: #fff;
}

hr{
	width: 60%;
	margin: 40px auto 30px;
	border-top: 5px solid #888;
}

h1{
	text-align: center;
	color: #888;
}

h3{
	font-weight: bold;
}

