/* ==========================================================================
   Bui Viet Son
   ========================================================================== */

html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #fdfdfd;
  font-family: "Roboto", Tahoma, Arial, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}

.img {
    list-style: none;
}

.img li img {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    background: #722872;
}

.footer-above, .copyright {
    padding: 20px;
    text-align: center;
    color: #eee;
}

.response p:nth-child(2) {
  margin: 35px 0;
  padding-bottom: 76px;
}

.response {
    margin: 30px 0;
    text-transform: initial;
    float: left;
}

.info-contact button {
    width: 30%;
    height: 40px;
    margin: 30px auto;
}

.item-form input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #8e928e;
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
}

.item-form {
    margin-bottom: 20px;
}

.message input {
    padding-bottom: 100px;
}

section.wrap-contact {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 40px;
    padding-bottom: 40px;
    margin-bottom: 0;
    background: #eee;
}

section.wrap-contact .container {
    background: #eee;
}

img.img-item {
    max-width: 560px;
    margin: 0px auto;
    border: 1px solid #691b1d;
}

.title {
    margin-top: 20px;
    font-size: 26px;
    font-weight: 550;
}

section.wrap-portfolio {
    background-color: #eee;
    text-transform: uppercase;
    padding: 0 40px;
    text-align: center;
    border-bottom: 1px solid #7a2020;
}

.under-text {
    border: 2px solid #964646;
    margin: 0px auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 50px;
}

a.navbar-brand {
    color: #fefefe!important;
    font-size: 26px;
}

ul.nav.navbar-nav.navbar-right li a {
    color: #fefefe;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    color: #fff;
}

div#container {
    background-color: #a2a2a2;
}

div#main {
    background-color: gainsboro;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

section.wrap-about {
    padding: 0 40px;
    background: #eee;
    padding-bottom: 30px;
    border-bottom: 1px solid #7a2020;
}

.wrap-about img {
    width: 80%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.about {text-align: center;padding: 20px 10px;}

.navbar {
    border: none;
    background-color: transparent;
    margin: 0;
}

header {
    padding: 10px 20px;
    background-color: rgba(114, 40, 114, 1);
    margin: 0px auto;
}

.nav li a {
  text-transform: uppercase;
  color: #cabebe!important;
}

.nav li:hover a {
    color: #fff!important;
}

.clear-both {
    clear: both;
}
/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }

  .wrap-about img {
      float: right;
      width: 40%;
      margin: 0 30px;
  }

  .about p {
      font-size: 25px;
  }

  .info {padding-top: 140px;}
  
  .info-contact {
      float: left;
      width: 50%;
      padding-left: 50px;
      margin-right: 30px;
  }

  .response {
      width: 40%;
      font-size: 24px;
      padding-top: 20px;
  }

  .img {list-style: none;display: flex;justify-content: space-around;align-items: flex-start;flex-flow: row wrap;}

  ul.img li {
      margin: 20px;
  }
}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }

  .wrap-about img {
      float: right;
      width: 40%;
      margin: 0 30px;
  }

  .about p {
      font-size: 30px;
  }

  .info {
      margin-top: 40px;
  }
}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }

  .wrap-about img {
      float: right;
      width: 40%;
      margin: 0 30px;
  }

  .about p {
      font-size: 22px;
  }

  .info {
      margin-top: 40px;
  }
}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }

    .wrap-about img {
      float: right;
      margin: 0 40px 0 10px;
      width: 40%;
    }

    .about p {
      font-size: 20px;
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .wrap-about img {
      width: 46%;
      float: right;
      margin-left: 20px;
    }
    .info {
      padding-top: 10px;
    }
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    
}