/* ==========================================================================
   Do Hong Phuc - 1512402
   ========================================================================== */
html, body {
    overflow-x: hidden;
}
body {
  font-size: 18px;
  background: #888888;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
form {
  margin: 0;
}
a {
  color: #333;
  cursor: pointer;
}
a, a:focus {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #0076a1;
}
input, input:focus {
  outline: none
}
#container .container {
  max-width: 1300px;
  height: auto;
}
#container .container-full {
  max-width: 1300px;
  height: auto;
  padding: 0px 15px;
  margin: auto;
}
body,h1,h2,h3,h4,h5,h6,p,a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar-header{
  padding-left: 10%;
}

div.header>nav>.container>.navbar-header{
  height: 80px;
  align-items: center;
  display: flex;
}

.header .collapse>ul,.header .navbar-collapse>ul,.header .navbar-ex1-collapse>ul{
  height: 80px;
  align-items: center;
  display: flex;
  font-size: 130%;
  padding-right: 10%;
}

.navbar-default .navbar-brand {
  color: white;
  cursor: pointer;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus {
  outline: none;
  text-decoration: none;
}
.navbar-default .navbar-brand:hover {
  text-decoration: none;
  color: white;
}

.header .navbar-brand{
  font-size: 170%;
}

.navbar-default .navbar-nav>li>a {
  color: #97FFFF;
  cursor: pointer;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
  outline: none;
  text-decoration: none;
}
.navbar-default .navbar-nav>li>a:hover {
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 10px black;
}

header .header{
  background-color: #722872;
  box-shadow: 1px 1px 10px black;
  margin-left: 0;
  margin-right: 0;
  margin: auto;
}
header.header, .navbar-default{
  background-color: #722872;

}

.main .about{
  background-color: #aaa;
  width: 75%;
  margin: auto;
  padding: 50px 40px;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px black;
  flex-direction: row-reverse; 
}

.main .about .about-info{
  text-align: right;
  width: 70%;
}

.about-info hr{
  border-top: 5px solid white;
  margin: 30px 0 30px 30%;
  width: 70%;
  text-align: right;
}

.main .profile{
  background-color: #EEEEEE;
  width: 75%;
  margin: auto;
  padding: 50px 40px;
  box-shadow: 1px 1px 10px black;
}

.main .profile p{
  margin-left: 30px;
}

.main .contact{
  background-color: #EEEEEE;
  width: 75%;
  margin: auto;
  padding: 50px 40px;
  box-shadow: 1px 1px 10px black;
}

.profile-header{
  color: #888888;
  text-align: center;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.star-dark{
  box-sizing: content-box;
  text-align: center;
  border-top: 5px solid #aaaaaa;
  width: 50%;margin: 0 auto;
  margin-bottom: 30px;
}

.main .about img{
  border-radius: 50%;
  width: 30%;
  height: 30%;
  margin-left: 40px;
}

.footer{
  color: #fff;
  text-align: center;
}

.footer h3{
  margin-bottom: 30px;
  font-weight: bold;
}

.footer-above{
  background-color: #AAAAAA;
  box-shadow: 1px 1px 10px black;
}

.footer-above>.container{
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.footer-above ul{
  padding: 0;
  list-style-type: none;
}

.footer-above li{
  display: inline;
}

.footer-above>.container div{
  margin-bottom: 50px;
  width: 220px;
}

.footer-below{
  box-shadow: 1px 1px 10px black;
  padding: 25px 0;
  text-align: center;
  background-color: #722872;
}

 a{

}

.footer-below a {
  color: #97FFFF;
  cursor: pointer;
}
.footer-below a, .footer-below a:focus {
  outline: none;
  text-decoration: none;
}
.footer-below a:hover {
  text-decoration: none;
  color: white;
}

.button{
  color: #fff;
  border: solid 2px #fff;
  border-radius: 50%;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  line-height: 48px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.button, .button:focus {
  outline: none;
  text-decoration: none;
}
.button:hover {
  text-decoration: none;
  color: #722872;
  background-color: white;
}

.contactForm{
  width: 50%;
}

.form-item{
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
}

.form-item label{
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: .50em;
  line-height: 1.764705882em;
  vertical-align: baseline;
  opacity: 0;
  transition: top .3s ease,opacity .3s ease;
}

.form-item input, .form-item textarea{
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.0em;
  background: 0 0;
  box-shadow: none!important;
  resize: none;
  width: 100%;
}

.contact>div{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}

.contact>div>div{
  width: 30%;
}

/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1300px) {
  #container .container, #container .container-full {
    width: 1300px;
  }
  #container .container{
    width: 1300px;
  }


}


/* ==========================================================================
   Responsive CSS Desktop
   ========================================================================== */
@media only screen and (min-width: 1239px) and (max-width: 1299px) {
  #container .container-full {
    width: 100%;
  }

}


/* ==========================================================================
   Responsive CSS Landscape Tablet
   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {
  #container .container-full {
    width: 100%;
  }

}


/* ==========================================================================
   Responsive CSS Portrait Tablet
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .container-full {
        width: 100%;
    }
    .main .profile, .main .contact, .main .about{
      width: 100%
    }
}


/* ==========================================================================
   Responsive CSS Landscape Mobile
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main .contact .contactForm{
      width: 60%;
    }
    .contact>div>div{
      width: 30%;
    }
    
    .main .profile, .main .contact, .main .about{
      width: 100%
    }
}


/* ==========================================================================
   Responsive CSS Portrait Mobile
   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {
    .main .about{
      display: block;
      margin: 0 auto;
      padding: 50px 20px;
      text-align: center;
    }

    .main .about .about-info{
      text-align: center;
    }

    .about-info hr{
      margin: 0 auto;
      text-align: center;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    
    .main .profile, .main .contact, .main .about{
      width: 100%
    }

    .main .about img{
      width: 50%;
      height: 50%;
      margin-left: 0;
      margin-bottom: 30px;
    }
    .main .contactForm{
      width: 100%;
    }
    .contact>div>div{
      width: 100%;
      padding-top: 30px;
    }

    .form-item label{
      font-size: .20em;
      line-height: 1.764705882em;
    }

    .form-item input, .form-item textarea{
      font-size: 1.3em;
    }
    .main .about .about-info{
      width: 100%
    }

    .footer-above>.container{
      flex-flow: column wrap;
      align-items: center;
    }

}